*{
    box-sizing: border-box;
}

h4{
    color: whitesmoke;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    letter-spacing: 2.5px;
    margin-top: 10px;
    color: #00cccc;
}
.inicio{
    background: url(../images/asphalt-auto-automobile-164634.jpg)   no-repeat;
    background-size: 120%;
    text-decoration: none;
    min-height: 125vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-wrap: wrap;

}


.jumbotron-ing{
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
}
.forming{
    margin-top: 80px;
    margin-left: 280px;
}
.form-ing{
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;    
}
.filing{
    z-index: 1;
}
/* Formulario pagina inicio sesion*/
.textopri{
    position: absolute;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3.0px;
    color: #00cccc;
    font-size: 38px;
    right: 100px;    
}
.texto{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3.0px;
    color: #00cccc;
}
.bodini{
    width: 800px;
    height: 600px;
    top:0;
}
.footini{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: black;
    color:white;
    font-size: 40px;
    text-align: center;
    z-index: 10;
}
.formu_ini{
    width: 280px;
    right: 10%;
    max-width: 100%;
    height: 340px;
    background: #E8E6E5;
    top: 20%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.01);
    position: absolute;
    border-radius: 10px
}
.boxini{
    margin:auto;
    padding-top: 25px;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
    display: block;   
}
.texini{
    
    margin: auto;
    text-align: center;
    display: block;
    padding: 12px 47px;
    border: 2px solid dimgrey;
    color: #666666
}
.texini[type="text"]{
    background: url(../images/log.png)  4px no-repeat;
}
.texini[type="password"]{
    background: url(../images/clave.png) 4px no-repeat;
}
.texini[name="Documento"]{
    background: url(../images/num.png)12px no-repeat;
}

.inpin{
    margin:auto 47px;
    cursor: pointer;
    background: #00cccc;
    padding: 8px 46px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    border:  2px dimgrey solid
}
.subtitini{
    position: absolute;
    right: 155px;
    color:dimgrey;
    bottom: 40px;   
}
.texini:hover{
    background-color: rgba(0,0,0,0.14)
}
/**      */
.volver{
    text-align: center;
    width: 120px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.80);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style:italic;
    margin-left: 85%;
    color: activeborder;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border: none;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.57);
}


/* ------------- registroVehiculo-----------*/

.formu_reg{
    margin:  auto;
    width: 300px;
    max-width: 100%;
    height: 730px;
    background: rgba(0,0,0,0.80);
    margin-top: 0;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);    
}


.formu_2{
    margin-left: 500px;
    width: 300px;
    max-width: 100%;
    height: 815px;
    background: rgba(0,0,0,0.80);
    margin-top: 0;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
}

.formu_1{
    margin-left: 500px;
    width: 300px;
    max-width: 100%;
    height: 180px;
    background: rgba(0,0,0,0.80);
    margin-top: 0;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
}

.bodem{
    background: url("../images/bike-bikes-chopper-1796086.jpg")no-repeat;
    background-size: 110%;
    max-width: 100%;
    margin: auto;
}
.bodem_1{
    background: url("../images/bike-bikes-chopper-1796086.jpg")no-repeat;
    background-size: 108.6%;
    max-width: 100%;
    margin: auto;
}

.bodreg{
    background: url("../images/asphalt-auto-automobile-164634.jpg")no-repeat;
    background-size: 100%;
    max-width: 100%;
    margin: auto;
}


.imaini{
    width: 260px;
    height: 100px;
}

.texre{
    text-align: center;
    display: block;
    padding: 15px 55px;
    border: 2px solid dimgrey;
    color: #666666;
    background: rgba(0,0,0,0.50);
}

.boxre{
    text-align: center;
    background-color: #00cccc;
    display: block;
    padding: 12px 0;
}

.inpre{
    cursor: pointer;
    background: #00cccc;
    border: none;
    padding: 8px 46px;
    margin-left: 50px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
}
.selre{
    position: relative;
    background: rgba(0,0,0,0.50);
    font-size: 20px;
    padding: 8px 72px;
    color: #666666;
    border: 2px solid dimgrey;
}
/*--------css para boton de foto---------------*/
input#addfile{
    text-align: center;
    border: 2px solid dimgrey;
    padding: 12px 51px;
    display: block;
    background: rgba(0,0,0,0.50);
    font-size: 14px;
}

div#div.file{
    position: relative;
    padding: 100px;
    width: 150px;
    background-color: #2499e3;
}
input#btn{
    position: absolute;
    top: 515px;
    left: 600px;
    right: 0px;
    bottom: 0px;
    width: 140px;
    height: 40px;
    opacity: 0;
}



/*-----------------formulario de registro usuarios------------*/

.bodusu{
    background: url("../images/bicycle.jpg")no-repeat;
    background-size: 110%;
    max-width: 100%;
    margin: auto;
}
.formu_usu{
    margin:  auto;
    width: 300px;
    max-width: 100%;
    height: 850px;
    background: rgba(0,0,0,0.80);
    margin-top: 0;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
}
.selusu{
    background: rgba(0,0,0,0.50);
    font-size: 20px;
    padding: 5px 24px;
    color: #666666;
}
.volver{
    cursor: pointer;
    background: #00cccc;
    border: none;
    padding: 3px 40px;
    margin-left: 50px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
    margin-left: 62px;
    color: black;   
}
.selog{
    background: rgba(0,0,0,0.50);
    font-size: 20px;
    padding: 5px 62px;
    color: #666666;
}